{% extends 'base.html.twig' %}

{% block mainContent %}

    {% if review!=null %}
        <div class="row ">
            <div class="col-md-12  text-center">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <tr class="success">
                        <th class="text-center">Title</th>
                        <th class="text-center">Abstract</th>
                        <th class="text-center">keyword</th>
                        <th class="text-center">Topics</th>

                    </tr>
                        <tr>
                            <td>{{ review.article }}</td>
                            <td>{{ review.article.abstract }}</td>
                            <td>{{ review.article.keyword }}</td>
                            <td>
                            {% for articleReview in review.article.topics  %}
                                <span class="label label-success glyphicon glyphicon-tags"> {{ articleReview.name }}</span>
                            {% endfor %}
                            </td>
                        </tr>
                </table>
            </div>
            </div>
        </div>
    {% endif %}
    <form method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Create"
               class="btn btn-default pull-right" />
    </form>

{% endblock %}
