{% extends 'base.html.twig' %}


{% block header %}
    <section class="content-header">
        <h1>
            {{ 'Reviewer' | trans }}
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('review_article_list') }}"><i class="fa fa-dashboard"></i>{{ 'Home' | trans }} </a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}

{% if app.user is null %}
    <div class="alert alert-danger text-center">
        <strong>{{ 'You must be registered' |trans }}</strong>
    </div>

{% else %}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'List of assigned articles' | trans }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-5">{{ 'Conference' | trans }}</th>
                                <th class="col-md-5">{{ 'Article' | trans }}</th>
                                <th class="col-md-2">{{ 'Actions' | trans }}</th>
                            </tr>
                            </thead>
                            {% for assignation in assignations %}
                                <tr>
                                    <td>{{ assignation.article.conference }}</td>
                                    <td>{{ assignation.article.title }}</td>
                                    <td>
                                        <div class="button-group">
                                            <a class="btn btn-default" href="{{ path("article_review_download", {'code': assignation.article.conference.code , 'id': assignation.article.articleReviews.last().id()}) }}" role="button" id="1"><i class="fa fa-download"></i></a>
                                            <a class="btn btn-default" href="{{ path('article_review_show',{'id': assignation.article.id }) }}" role="button" id="2"><i class="fa fa-eye"></i></a>
                                            {% if is_granted('CREATE', assignation.article) %}
                                                <a class="btn btn-default" href="{{ path('article_review',{'id': assignation.article.id }) }}" role="button" id="2"><i class="fa fa-edit"></i></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <div class="alert alert-danger text-center">
                                    <strong>{{ 'There are not article' | trans }}</strong>
                                </div>
                            {% endfor %}
                        </table>
                    </div>
                </div>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block tasks_menu %}{% endblock %}