{% extends 'base.html.twig' %}


{% block header %}
    <section class="content-header">
        <h1>
            {{ 'Reviewer' | trans }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('conference_show') }}"><i class="fa fa-dashboard"></i>{{ 'Home' | trans }} </a></li>
            <li class="active"><a href="">{{ 'Article' | trans }}</a></li>

        </ol>
    </section>
{% endblock %}


{% block content %}

{% if app.user is null %}
    <div class="alert alert-danger text-center">
        <strong>You must be registered</strong>
    </div>

{% else %}
    {% if review!=null %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            {% for reviewer in review %}
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ reviewer.article.title }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4">{{ 'Abstract' | trans }}</th>
                                <th class="col-md-1">{{ 'Keyword' | trans }}</th>
                                <th class="col-md-1">{{ 'Topics' | trans }}</th>
                                <th class="col-md-1">{{ 'Download' | trans }}</th>
                                <th class="col-md-1">{{ 'Edit' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ reviewer.article.abstract }}</td>
                                <td>{{ reviewer.article.keyword }}</td>
                                <td>
                                    {% for articleReview in reviewer.article.topics  %}
                                        <span class="label label-success glyphicon glyphicon-tags"> {{ articleReview.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-default" href="{{ path("article_review_download", {'id': reviewer.id}) }}" role="button" id="1"><i class="fa fa-download"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="{{ path('article_review',{'id': reviewer.article.id }) }}" role="button" id="2"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger text-center">
            <strong>There aren't article</strong>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
