<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FastConfer</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite" output="css/compiled/fastconfer.css" debug=false
            "vendor/admin-lte/bootstrap/css/bootstrap.css"
            "vendor/select2/select2.css"
            "vendor/select2/select2-bootstrap.css"
            "vendor/components-font-awesome/css/font-awesome.css"
            "vendor/ionicons/css/ionicons.css"
            "vendor/admin-lte/dist/css/AdminLTE.css"
            "vendor/admin-lte/dist/css/skins/skin-blue.css"
            "bundles/app/css/fastconfer.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- Bootstrap 3.3.2 -->
    <link rel="icon" type="image/x-icon" href="{{ asset('a.ico') }}" />

</head>
<body class="skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <a href="/app_dev.php" class="logo"><b>Fast</b>Confer</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    {% if not app.user %}
                    <a href="{{ url('fos_user_security_login') }}" class="btn btn-default btn-flat"> {{ 'Login' | trans }}
    </a>

                    {% else %}
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">




                                <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{ app.user }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                {% if app.user %}
                                <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="img-circle" alt="User Image" />
                                <p>
                                    {{ app.user }}

                                </p>
                                {% endif %}
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">

                                {% if app.user %}
                                    <div class="pull-left">
                                        <a href="{{ url('fos_user_profile_show') }}" class="btn btn-default btn-flat">{{ 'Profile' | trans }}</a>
                                    </div>

                                    <div class="pull-right">
                                        <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat"> {{ 'Logout' | trans }}</a>
                                    </div>

                                {% endif %}

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                {% if app.user %}
                    <div class="pull-left image">
                        <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p><i class="fa fa-circle text-success"></i> {{ 'Online' | trans }}</p>
                    </div>
                    <div class="pull-left info">
                    <p>{{ app.user }}</p>
                    </div>

                {% endif %}
            </div>
            <!-- search form -->
            <form action="{{ path('find') }}" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder={{ 'Search...' | trans }} >
              <span class="input-group-btn">
                <button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">{{ 'MAIN' | trans }}</li>


            </ul>
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active' }) }}

        </section>
        <!-- /.sidebar -->
    </aside>


    <div class="content-wrapper">
    {% block mainContent %}

        {% block header %}
            <section class="content-header">
            </section>
        {% endblock %}

        <!-- Main content -->
        <section class="content">
        {% block content %}{% endblock %}
        </section>

    {% endblock %}
    </div>

    <footer class="main-footer">
        {% block footer %}
        <strong>Copyright © 2015 <a href="http://www.uco.es/">{{ 'University of Córdoba' | trans }}</a>.</strong> {{ 'All rights reserved' | trans }}.
        {% endblock %}
    </footer>
</div><!-- ./wrapper -->

{% block javascripts %}
    {% javascripts filter="cssrewrite" output="js/compiled/fastconfer.js" debug=false
        "vendor/jquery/dist/jquery.js"
        "vendor/appear/jquery.appear.js"
        "vendor/bootstrap/dist/js/bootstrap.js"
        "vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"
        "vendor/select2/select2.js"
        "vendor/admin-lte/dist/js/app.js"
        "bundles/app/js/fastconfer.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>