<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

        <title>{% block title %}FastConfer{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap -->
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" media="screen">

        <link rel="icon" type="image/x-icon" href="{{ asset('a.ico') }}" />

        <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>

    {% block javascripts %}
            <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
            <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <!-- Include all JavaScripts, compiled by Assetic -->
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

        {#PARA REALIZAR LAS BUSQUEDAS AUTOMATICAS EN UNA TABLA#}
        {#<script src="{{ asset('bundles/app/js/jquery.dataTables.min.js') }}"></script>#}

    {% endblock %}

    {% block head %}

        <div class="header" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/app_dev.php">FastConfer</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li><a href="{{ url('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ url('myConferences') }}">My Conferences</a></li>
                            {% if app.user %}
                                <li><a href="{{ url('article_list') }}">Articles for Review</a></li>
                            {% endif %}

                        </ul>

                        {% if not app.user %}
                            <a href="{{ url('fos_user_security_login') }}" type="button" class="btn btn-default pull-right botones botona"
                                    >Login</a>
                            {% else %}

                                <a href="{{ url('fos_user_security_logout') }}" type="button" class="btn btn-default pull-right botones botona"
                                        >Logout</a>
                        {% endif %}

                        <!-- Modal -->
                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header modal-sm">
                                        <h4 class="modal-title" id="exampleModalLabel">FastConfer</h4>
                                    </div>

                                    <div class="modal-body modal-sm">
                                        <form method="post" action='' name="login_form">
                                            <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                                            <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                                            <p><button type="submit" class="btn btn-primary" href="#">Sign in</button></p>
                                        </form>
                                    </div>

                                    <div class="modal-footer modal-sm">
                                        <a href="#" class="btn btn-primary">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    {%  endblock %}

        {% block body %}
            <div class="container">
                <div class="side-body">
                    {% block alert %}
                        {% for flashMessage in app.session.flashbag.get('alert') %}
                            <div class="alert alert-danger text-center col-md-4 glyphicon glyphicon-remove ">
                                <strong>{{ flashMessage }}</strong>
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success text-center col-md-4 glyphicon glyphicon-ok">
                                <strong>{{ flashMessage }}</strong>
                            </div>
                        {% endfor %}
                    {% endblock %}
                    {% block mainContent %}{% endblock %}
                </div>
            </div>



        {% endblock %}

        {%  block footer %}

        <!-- FOOTER -->
        <footer class="container bg-info espacio" >
            <p class="text-center">&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

        {% endblock %}
    </body>
</html>

