<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FastConfer</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}
        {% stylesheets
            "@bootstrap_css"
            "@select2_bootstrap_css_css"
            "@select2_dist_css"
            "@components_font_awesome_css"
            "@ionicons_css"
            "@admin_lte_css"
            "bundles/app/components/admin-lte/dist/css/skins/skin-blue.css"
            "bundles/app/css/fastconfer.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- Bootstrap 3.3.2 -->
    <link rel="icon" type="image/x-icon" href="{{ asset('a.ico') }}" />

</head>
<body class="skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <a href="/app_dev.php" class="logo"><b>Fast</b>Confer</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if not app.user %}
                                <img src="http://www.fmsite.net/foro/uploads/profile/photo-3153.png?_r=1371861357" class="user-image" alt="User Image"/>
                                <span class="hidden-xs"><strong>Mr X</strong></span>
                            {% else %}
                                <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{ app.user }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                {% if not app.user %}
                                  <img src=" http://www.fmsite.net/foro/uploads/profile/photo-3153.png?_r=1371861357" class="img-circle" alt="User Image" />
                                    <p>
                                        <small>Anonimus</small>
                                    </p>
                                {% else %}
                                <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="img-circle" alt="User Image" />
                                <p>
                                    {{ app.user }}
                                    <small>Member since Nov. 2012</small>
                                </p>
                                {% endif %}
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">

                                {% if not app.user %}
                                <div class="pull-right">
                                    <a href="{{ url('fos_user_security_login') }}" class="btn btn-default btn-flat"> Login</a>
                                    </div>
                                {% else %}
                                    <div class="pull-left">
                                        <a href="{{ url('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profile</a>
                                    </div>

                                    <div class="pull-right">
                                        <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat"> Logout</a>
                                    </div>

                                {% endif %}

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                {% if not app.user %}
                    <div class="pull-left image">
                        <img src="http://www.fmsite.net/foro/uploads/profile/photo-3153.png?_r=1371861357" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p><i class="fa fa-circle text-success"></i> Anonimus</p>
                    </div>
                {% else %}
                    <div class="pull-left image">
                        <img src="http://g.cdn.ecn.cl/hombres/files/2013/10/feo-19.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p><i class="fa fa-circle text-success"></i> Online</p>
                    </div>
                    <div class="pull-left info">
                    <p>{{ app.user }}</p>
                    </div>

                {% endif %}
            </div>
            <!-- search form -->
            <form action="{{ path('find') }}" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN</li>

                <li><a href="{{ url('homepage') }}"><i class="fa fa-file"></i> All Conferences</a></li>
                {% if app.user %}
                  <li><a href="{{ url('myConferences') }}"><i class="fa fa-user"></i> My Conferences</a></li>
                {% endif %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>


    <div class="content-wrapper">
    {% block mainContent %}

        <section class="content-header">
        {% block header %}{% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
        {% block content %}{% endblock %}
        </section>

    {% endblock %}
    </div>

    <footer class="main-footer">
        {% block footer %}
        <strong>Copyright © 2015 <a href="http://www.uco.es/">University of Córdoba</a>.</strong> All rights reserved.
        {% endblock %}
    </footer>
</div><!-- ./wrapper -->

{% block javascripts %}
    {% javascripts
        "@jquery_js"
        "@appear_js"
        "@bootstrap_js"
        "@bootstrap_filestyle_js"
        "@select2_dist_js"
        "@admin_lte_js"
        "bundles/app/js/fastconfer.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>