{% extends 'base.html.twig' %}

{% block header %}
    <section class="content-header">
        <h1>
            {{ 'Comment' | trans }}
            <small>{{ conference.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('conference_show') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ path('article_list') }}">Submissions</a></li>
            <li class="active">Comment</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {% for comment in comments %}
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ comment.articleReview.article.title }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-2">{{ 'Date' | trans }}</th>
                                <th class="col-md-3">{{ 'State' | trans }}</th>
                                <th class="col-md-7">{{ 'Comment' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ comment.createAt | date("d/m/y") }}</td>
                                    <td><span class="label label-{{ comment.state }}">{{ comment.state | trans}}</span></td>
                                    <td>{{ comment.comment }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
