{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
       <div class="col-md-4">
        <div class="alert alert-danger">
            <strong>El usuario ya esta apuntado a este congreso</strong>
        </div>
    </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p><strong> Summary: </strong>{{ conference.description }}</p>
                        <hr>
                        <strong>Topics: </strong>
                        {% for aux in conference.topics %}
                            <span class="label label-danger"> {{ aux.name }}</span>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}