{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash-notice alert-success alert text-center">
                        <strong>{{ flashMessage }}</strong>
                    </div>
                {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p><strong> Summary: </strong>{{ conference.description }}</p>
                        <hr>
                        <strong>Topics: </strong>
                        {% for aux in conference.topics %}
                            <span class="label label-danger"> {{ aux.name }}</span>
                        {% endfor %}
                    </div>

                    <hr>

                <legend><h3>Upload File</h3></legend>

                <form action="#" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}

                    <input type="submit" value="Upload Document"/>
                </form>

                    <hr>

                    <div class="table-responsive">
                    <table class="table table-bordered table-hover">

                        <tr class="success">
                            <th>Version</th>
                            <th>Date</th>
                            <th>Reviews</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}