{% extends 'base.html.twig' %}

{% block body %}

 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p>{{ conference.description }}</p>
                        <hr>
                        {% for aux in conference.topics %}
                            <li><p>{{ aux.name }}</p></li>
                        {% endfor %}
                    </div>

                    {#<div class="card-action">#}
                        {#<a class="btn btn-default center-block"  href="{{ path('inscription',  {'slug':conference.slug}) }}"#}
                           {#role="button">Sign up</a></p>#}
                    {#</div>#}


                    <div class="card-action">
                        <a class="btn btn-default center-block"  data-toggle="modal" data-target="#myModal"
                           role="button">Sign up</a></p>
                    </div>

                </div>
            </div>
        </div>
 </div>

    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-danger text-center" id="myModalLabel">
                        Message
                    </h3>
                </div>
                <div class="modal-body">
                    <p>El usuario con nombre  {{ app.user }} se inscribirá en el
                    congreso con el nombre {{ conference.name }}</p>
                    <br>
                    <strong class="text-danger">¿Esta de acuerdo?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >No
                    </button>

                    <a role="button" class="btn btn-default" href="{{ path('a', {'slug':conference.slug}) }}">
                        Yes
                    </a>
                </div>
            </div>
        </div>
{% endblock %}

