{% extends 'base.html.twig' %}

{% block body %}

<div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p><strong> Summary: </strong>{{ conference.description }}</p>
                        <hr>
                        <p><strong> Date Start: </strong>{{ conference.dateStart|date("d/m/y") }}
                        <strong>  Date End: </strong>{{ conference.dateEnd|date("d/m/y") }}</p>
                        <hr>
                        <strong>Topics: </strong>
                        {% for aux in conference.topics %}
                            <span class="label label-danger"> {{ aux.name }}</span>
                        {% endfor %}
                    </div>

                    {% if conference.dateEnd|date("d/m/y")>= "now" |date("d/m/y")  %}

                        {% if not app.user %}
                        <div class="card-action">
                            <a class="btn btn-default center-block"  data-toggle="modal" data-target="#Error"
                               role="button">Sign up</a>
                        </div>

                        {% else %}

                            {% if inscription!=null %}

                                <div class="card-action">
                                    <a class="btn btn-default center-block"  data-toggle="modal" data-target="#Error2"
                                       role="button">Sign up</a>
                                </div>

                            {% else %}

                                <div class="card-action">
                                    <a class="btn btn-default center-block"  data-toggle="modal" data-target="#myModal"
                                       role="button">Sign up</a>
                                </div>
                             {% endif %}
                        {% endif %}

                        {% else %}

                            <div class="alert alert-danger text-center">
                                <strong>Date for inscription has expired</strong>
                            </div>

                    {% endif %}

                </div>
            </div>
        </div>
 </div>

    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-danger text-center" id="myModalLabel">
                        Message
                    </h3>
                </div>
                <div class="modal-body">
                    <p>The user with name <strong>{{ app.user }}</strong>, will be enrolled in the conference with
                        the name <strong>{{ conference.name }}</strong></p>
                    <br>
                    <strong class="text-danger">Do you agree?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >No
                    </button>

                    <a role="button" class="btn btn-default" href="{{ path('inscription', {'slug':conference.slug}) }}">
                        Yes
                    </a>
                </div>
            </div>
        </div>
        </div>


        <!-- Modal Error -->

    <div class="modal fade" id="Error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                </button>

                <a href="{{ url('fos_user_security_login') }}" class="alert-link">You must be logged in to register for the conference</a>
            </div>
        </div>
    </div>


    <!-- Modal Error2 -->

    <div class="modal fade" id="Error2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

                <a href="{{ url('fos_user_security_login') }}" class="alert-link">The user is already registered this congress</a>
            </div>
        </div>
    </div>


{% endblock %}
