{% extends 'base.html.twig' %}

{% block body %}

 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p>{{ conference.description }}</p>
                        {% for aux in conference.topics %}
                            <p>{{ aux.name }}</p>
                        {% endfor %}
                    </div>

                    <div class="card-action">
                        <a class="btn btn-default center-block"  href="{{ path('inscription',  {'slug':conference.slug}) }}"
                           role="button">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}

