{% extends 'base.html.twig' %}

{% block mainContent %}

             <div class="col-md-8">
                <form name="form" action="{{ path('find') }}" method="get">
                    <div class="navbar-form navbar-right" role="search" >
                        <div class="form-group" >
                            <input type="text" class="form-control" placeholder="Search..." name="search">
                        </div>
                        <button type="submit" class="btn btn-default botones" name="search-button">Send</button>
                    </div>
                </form>
             </div>

        {% for conference in conferences %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p>{{ conference.description }}</p>
                    </div>

                    <div class="card-action">
                        <a class="btn btn-default" href="{{ path('conference', {'slug':conference.slug}) }}"
                           role="button">View details &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}



{% endblock %}