{% extends 'base.html.twig' %}

{% block header %}
    <section class="content-header">
        <h1>
            {{ 'Articles' | trans }}
            <small>{{ conference.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('conference_show') }}"><i class="fa fa-dashboard"></i>{{ 'Home' | trans }} </a></li>
            <li class="active"><a href="{{ path('article_list') }}">{{ 'Articles' | trans }}</a></li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {% for article in inscription.articles %}
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ article.title }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-1">{{ 'Version' | trans }}</th>
                                <th class="col-md-3">{{ 'Submitted at' | trans }}</th>
                                <th class="col-md-3">{{ 'Status' | trans }}</th>
                                <th class="col-md-5">{{ 'Actions' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in article.articleReviews %}
                            <tr>
                                <td># {{ loop.index }}</td>
                                <td>{{ review.createAt | date }}</td>
                                <td><span class="label label-{{ review.state }}">{{ review.state | trans }}</span></td>
                                <td><div class="btn-group">
                                        <a href="{{ path("article_review_show", {'id': review.id}) }}" class="btn btn-default btn-sm">
                                            <i class="fa fa-eye"></i> {{ 'See Comment' | trans }}
                                        </a>
                                        <a target="_blank" href="{{ path("article_review_download", {'id': review.id}) }}" class="btn btn-default btn-sm">
                                            <i class="fa fa-download"></i> {{ 'Download' | trans }}
                                        </a>
                                </div></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2">
                                    <div class="btn-group">

                                        <a href="{{ path("article_new_review", {'id': article.id}) }}" class="btn btn-default btn-small {% if not is_granted('UPLOAD_NEW_ARTICLE_REVIEW', article) %}disabled{% endif %}">
                                            <i class="fa fa-upload"></i> {{ 'Send new version' | trans }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
