{% extends 'base.html.twig' %}

{% block header %}
    <section class="content-header">
        <h1>
            {{ 'Submissions' | trans }}
            <small>{{ conference.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('conference_show') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Submissions</a></li>
            <li class="active">New submission</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {% for article in inscription.articles %}
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ article.title }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-1">{{ 'Version' | trans }}</th>
                                <th class="col-md-3">{{ 'Submitted at' | trans }}</th>
                                <th class="col-md-3">{{ 'Status' | trans }}</th>
                                <th class="col-md-5">{{ 'Action' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in article.articleReviews %}
                            <tr>
                                <td>#{{ loop.index }}</td>
                                <td>{{ review.createAt | date }}</td>
                                <td><span class="label label-{{ review.state }}">{{ review.state | trans }}</span></td>
                                <td><div class="btn-group">
                                        <a href="{{ path("article_review_show", {'id': review.id}) }}" class="btn btn-default btn-sm">
                                            <i class="fa fa-eye"></i> See reviews
                                        </a>
                                        <a href="{{ path("article_review_download", {'id': review.id}) }}" class="btn btn-default btn-sm">
                                            <i class="fa fa-download"></i> Download
                                        </a>
                                </div></td>

                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="btn-group">
                                        <a href="" class="btn btn-default btn-small disabled">
                                            <i class="fa fa-edit"></i> Edit submission
                                        </a>
                                        <a href="{{ path("article_new_review", {'id': article.id}) }}" class="btn btn-default btn-small">
                                            <i class="fa fa-upload"></i> Send new version
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<div class="card">#}
                    {#<div class="card-image">#}
                        {#<img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">#}
                        {#<span class="card-title">{{ conference.name }}</span>#}
                    {#</div>#}

                    {#<div class="card-content">#}
                        {#<p><strong> Summary: </strong>{{ conference.description }}</p>#}
                        {#<hr>#}
                        {#<div class="row">#}
                        {#<div class="col-md-9">#}
                            {#<strong>Topics: </strong>#}
                            {#{% for topics in conference.topics %}#}
                                {#<span class="label label-danger glyphicon glyphicon-tags"> {{ topics.name }}</span>#}
                            {#{% endfor %}#}
                            {#</div>#}
                        {#<div class="col-md-3">#}
                            {#<p><i class="fa fa-calendar fa-2x"></i><strong> Start: </strong>{{ conference.dateStart|date("d/m/y") }}#}
                                {#<strong>  End: </strong>{{ conference.dateEnd|date("d/m/y") }}</p>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    {#{% if conference.dateEnd >= date("now")  %}#}

                        {#{% if not app.user %}#}
                            {#<div class="alert alert-danger text-center">#}
                                {#<a href="{{ url('fos_user_security_login') }}" class="alert-link">You must be logged in to register for the conference</a>#}
                            {#</div>#}

                        {#{% else %}#}

                            {#{% if inscription %}#}
                                {#<div class="card-action">#}
                                    {#<a class="btn btn-default glyphicon glyphicon-file" href="{{ path('conference_upload_article', { 'slug': conference.slug }) }}"#}
                                       {#role="button"> Send article</a>#}
                                {#</div>#}

                                {#<div class="table-responsive card-action  ">#}
                                    {#{% for article in inscription.articles %}#}

                                        {#<table class="table table-bordered table-hover ">#}
                                            {#<tr>#}
                                                    {#<td colspan="4"><h4>Title: <strong> {{ article.title }}</strong> </h4>#}
                                                    {#</td>#}
                                            {#</tr>#}

                                            {#<tr class="success">#}
                                                {#<th class="text-center">Date</th>#}
                                                {#<th class="text-center">Reviews</th>#}
                                                {#<th class="text-center">State</th>#}
                                                {#<th class="text-center">Actions</th>#}
                                            {#</tr>#}

                                            {#{%for review in article.articleReviews %}#}
                                                {#<tr class="text-center">#}
                                                    {#<div class="row">#}
                                                        {#<td class="col-md-3" >{{ review.createAt|date("d/m/y")}}</td>#}
                                                        {#<td class="col-md-2">.. of ..</td>#}

                                                        {#{% if review.state== 'rejected' %}#}
                                                            {#<td class="col-md-4"><span class="label label-danger"> {{ review.state }}</span></td>#}
                                                        {#{% else %}#}
                                                            {#<td class="col-md-4"><span class="label label-success  "> {{ review.state }}</span></td>#}
                                                        {#{% endif %}#}
                                                        {#<td class="col-md-3">#}
                                                            {#{% if review.reviewComments | length > 0 %}#}
                                                                {#<a class="btn btn-default glyphicon glyphicon-comment" href="{{ path('comments',{'id': review.id } ) }}"#}
                                                                {#role="button"> comments</a>#}
                                                            {#{% endif %}#}
                                                       {#</td>#}

                                                    {#</div>#}
                                                {#</tr>#}
                                            {#{% endfor %}#}
                                            {#<tr>#}
                                                {#{% if article.stateEnd=='accepted with suggestions' %}#}
                                                    {#<td colspan="3" class="text-center"><em><h4>{{ article.stateEnd }}</h4></em></td>#}
                                                    {#<td colspan="1" class="text-center"><a class="btn btn-default glyphicon glyphicon-file" href="{{ path('new_article',#}
                                                        {#{'id':article.id}) }}" role="button"> New Article</a></td>#}
                                                    {#{% elseif article.stateEnd!='send' %}#}
                                                        {#<td colspan="4" class="text-center"  ><em><h4>{{ article.stateEnd }}</h4></em></td>#}
                                                {#{% endif %}#}

                                            {#</tr>#}
                                        {#</table>#}
                                    {#{% endfor %}#}
                                {#</div>#}
                            {#{% else %}#}
                                {#<div class="card-action">#}
                                    {#<a class="btn btn-default center-block"  data-toggle="modal" data-target="#myModal"#}
                                       {#role="button">Sign up</a>#}
                                {#</div>#}
                            {#{% endif %}#}
                        {#{% endif %}#}

                    {#{% else %}#}

                        {#<div class="alert alert-danger text-center">#}
                            {#<strong>Registration is closed</strong>#}
                        {#</div>#}

                    {#{% endif %}#}

                {#</div>#}
            {#</div>#}
        {#</div>#}



{#{% endblock %}#}
