{% extends 'base.html.twig' %}

{% block header %}
<section class="content-header">
    <h1>
        {{ 'New submission' | trans }}
        <small>{{ conference.name }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('conference_show', {'code': conference.code}) }}"><i class="fa fa-dashboard"></i>{{ 'Home' | trans }} </a></li>
        <li><a href="{{ path('article_list') }}">{{ 'Submissions' | trans }}</a></li>
        <li class="active">{{ 'New article' | trans }}</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"> {{ 'Send article' | trans }}</h3>
            </div>
            <form method="POST" {{ form_enctype(form) }}>

                <div class="box-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.abstract) }}
                    <div class="group-form">
                        {{ form_label(form.authors) }}
                        <div class="nav-tabs-custom" id="article_authors" data-prototype="{{ form_widget(form.authors.vars.prototype)|e }}">
                            <ul class="nav nav-tabs" id="author_nav">
                                {% for idx, author in form.authors %}
                                    <li><a href="#author_{{ idx }}" data-toggle="tab"><button class="close closeTab" type="button" >×</button> {{ 'Author' | trans }} {{ idx + 1 }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="author_list">
                                {% for idx, author in form.authors %}
                                    <div class="tab-pane" id="author_{{ idx }}">{{ form_row(author) }}</div>
                                {% endfor %}
                            </div><!-- /.tab-content -->
                        </div>
                        <p class="help-block">{{ form_errors(form.authors) }}</p>
                    </div>
                    {{ form_row(form.keyword) }}
                    {{ form_row(form.topics) }}
                    {{ form_row(form.path) }}
                    {{ form_row(form.save) }}
                    {{ form_widget(form._token) }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAuthorLink = $('<li class="pull-right"><a href="#" class="text-muted add_author_link"><i class="fa fa-plus"></i> {{ 'Add author' | trans }}</a></li>');
        var $authorNav = $('#author_nav').append($addAuthorLink);
        var $authorList = $('#author_list');

        jQuery(document).ready(function() {
            $('#author_nav a:first').tab('show');

            // Get the ul that holds the collection of tags
            $collectionHolder = $('#article_authors');

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('li').length - 1);

            $addAuthorLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAuthorForm($collectionHolder, $authorNav, $authorList);
            });

            registerCloseEvent();

            function addAuthorForm($collectionHolder, $authorNav, $authorList) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                $authorNav.append('<li><a href="#author_' + index + '" data-toggle="tab"><button class="close closeTab" type="button" >×</button> {{ 'Author' | trans }} ' + (index + 1) + '</a></li>');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<div class="tab-pane" id="author_' + index + '"></div>').append(newForm);
                $authorList.append($newFormLi);

                // Show tab
                $('#author_nav a:last').tab('show');

                registerCloseEvent();
            }

            function registerCloseEvent() {

                $(".closeTab").click(function () {
                    console.log("CLICK");

                    //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
                    var tabContentId = $(this).parent().attr("href");
                    $(this).parent().parent().remove(); //remove li of tab
                    $('#author_nav a:last').tab('show'); // Select first tab
                    $(tabContentId).remove(); //remove respective tab content

                });
            }
        });


    </script>
{% endblock %}