{% extends 'base.html.twig' %}

{% block mainContent %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="{{ conference.image }}?name={{ conference.name }}">
                        <span class="card-title">{{ conference.name }}</span>
                    </div>

                    <div class="card-content">
                        <p><strong> Summary: </strong>{{ conference.description }}</p>
                        <hr>
                        <p><strong> Date Start: </strong>{{ conference.dateStart|date("d/m/y") }}
                        <strong>  Date End: </strong>{{ conference.dateEnd|date("d/m/y") }}</p>
                        <hr>
                        <strong>Topics: </strong>
                        {% for aux in conference.topics %}
                            <span class="label label-danger"> {{ aux.name }}</span>
                        {% endfor %}
                    </div>

                    {% if conference.dateEnd >= date("now")  %}

                        {% if not app.user %}
                            <div class="alert alert-danger text-center">
                                <a href="{{ url('fos_user_security_login') }}" class="alert-link">You must be logged in to register for the conference</a>
                            </div>

                        {% else %}

                            {% if inscription %}
                                <div class="card-action">
                                    <a class="btn btn-default" href="{{ path('conference_upload_article', { 'slug': conference.slug }) }}"
                                       role="button">Send new article</a>
                                </div>

                                <div class="table-responsive card-action">
                                    {% for article in inscription.articles %}

                                        <table class="table table-bordered table-hover">
                                            <tr>
                                                <td colspan="4">Title: {{ article.title }} {{ article.id }}</td>
                                            </tr>

                                            <tr class="success">
                                                <th>Date</th>
                                                <th>Reviews</th>
                                                <th>State</th>
                                                <th>Actions</th>
                                            </tr>

                                            {%for review in article.articleReviews %}
                                                <tr>
                                                        <td>{{ review.createAt|date("d/m/y")}}</td>
                                                        <td>...</td>

                                                        {% if review.state== 'rejected' %}
                                                            <td><span class="label label-danger"> {{ review.state }}</span></td>
                                                        {% else %}
                                                            <td><span class="label label-success"> {{ review.state }}</span></td>
                                                        {% endif %}
                                                        <td>
                                                        {% if review.reviewComments | length > 0 %}
                                                            <a class="btn btn-default" href="{{ path('comments',{'id': review.id } ) }}"
                                                            role="button">view comments</a>
                                                        {% endif %}
                                                       </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                {% if article.stateEnd=='accepted with suggestions' %}
                                                    <td colspan="3" >{{ article.stateEnd }}</td>
                                                    <td colspan="1"><a class="btn btn-default center-block" href="{{ path('new_article',
                                                        {'id':article.id}) }}"
                                                                           role="button">Send</a></td>
                                                    {% elseif article.stateEnd!='send' %}
                                                        <td colspan="4" >{{ article.stateEnd }}</td>

                                                {% endif %}

                                            </tr>
                                        </table>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="card-action">
                                    <a class="btn btn-default center-block"  data-toggle="modal" data-target="#myModal"
                                       role="button">Sign up</a>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% else %}

                        <div class="alert alert-danger text-center">
                            <strong>Registration is closed</strong>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>

    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-danger text-center" id="myModalLabel">
                        Message
                    </h3>
                </div>
                <div class="modal-body">
                    <p>The user with name <strong>{{ app.user }}</strong>, will be enrolled in the conference with
                        the name <strong>{{ conference.name }}</strong></p>
                    <br>
                    <strong class="text-danger">Do you agree?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >No
                    </button>

                    <a role="button" class="btn btn-default" href="{{ path('inscription', {'slug':conference.slug}) }}">
                        Yes
                    </a>
                </div>
            </div>
        </div>
        </div>

{% endblock %}
