{% extends '::base.html.twig' %}

{% block header %}

    <section class="content-header conference-header">
        <img src="{{ asset('/images/' ~ conference.image) }}" />
        <div class="conference-title">
            <div class="padding-md">
                <h1><span class="text-white">{{ conference.name }}</span></h1>
                <h2><span class="text-white">{{ conference.description | slice(0, 20) }}</span></h2>

                {% if not inscription and app.user %}
                    <a class="btn btn-white btn-outline" role="button" data-toggle="modal" data-target="#myModal">{{"Register now!" | trans  }}</a>

                {% else %}
                    <a class="btn btn-white btn-outline" role="button" href="{{ url('article_new') }}">{{"Send article" | trans  }}</a>
                {% endif %}

            </div><!-- /.padding -->
        </div><!-- /.col -->
    </section>
{% endblock %}

{% block content %}

    <section class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="timeline">
                    <li class="time-label">
                        <span class="bg-red"> {{ conference.dateStart|date("d/m/y") }} </span>
                    </li>
                    <li>
                        <i class="fa fa-calendar-o bg-aqua"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header no-border">{{ 'Start date of inscription' | trans }}</h3>
                        </div>
                    </li>
                    <li class="time-label">
                        <span class="bg-red">  {{ conference.dateEnd|date("d/m/y") }} </span>
                    </li>
                    <li>
                        <i class="fa fa-user bg-aqua"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header no-border">{{ 'Final submission deadline' | trans }}</h3>
                        </div>
                    </li>
                    <li class="time-label">
                        <span class="bg-red"> {{ conference.deadTime|date("d/m/y")  }} </span>
                    </li>
                    <li>
                        <i class="fa fa-user bg-aqua"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header no-border">{{ 'Abstract submission deadline' | trans }}</h3>
                        </div>
                    </li>
                    <li class="time-label">
                        <span class="bg-red"> {{ conference.dateNews|date("d/m/y")  }} </span>
                    </li>
                    <li>
                        <i class="fa fa-info bg-aqua"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header no-border">{{ 'Date of termination' | trans }}</h3>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'Summary' | trans }}</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ conference.description }}</p>
                        <h4>{{ 'Topics' | trans }}</h4>
                        <ul>
                            {% for topics in conference.topics %}
                                <li> {{ topics.name }} </li>
                            {% endfor %}
                        </ul>
                        <p>
                            <i class="fa fa-home"></i>
                            <a href="{{ conference.url }}">{{ conference.url }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#<!-- Modal -->#}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-danger text-center" id="myModalLabel">
                        {{ 'Message' | trans }}
                    </h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'The user with name' | trans }} <strong>{{ app.user }}</strong>, {{ 'will be enrolled in the conference with the name' | trans }} <strong>{{ conference.name }}</strong></p>
                    <br>
                    <strong class="text-danger">{{ 'Do you agree?' | trans }}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >No
                    </button>

                    <a role="button" class="btn btn-default" href="{{ path('inscription') }}">
                        {{ 'Yes' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
