{% extends 'base.html.twig' %}

{% block content %}

    {% if app.user is null %}
        <div class="callout callout-danger">
            <h4>{{ 'Warning!' |trans }}</h4>
            <strong>{{ 'You must be registered' |trans }}</strong>
        </div>
    {% else %}
    {% if inscription!=null %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'Conferences' |trans }}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th class="col-md-9">{{ 'Name' | trans }}</th>
                                    <th class="col-md-3">{{ 'Date' | trans }}</th>
                                    <th class="col-md-1">{{ 'Show' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in inscription  %}
                                    <tr>
                                        <td> {{ article.conference }} </td>
                                        <td>{{ article.createdAt | date("d/m/y") }}</td>
                                        <td><a class="btn btn-default glyphicon glyphicon-eye-open" href="http://{{ article.conference.code }}.fastconfer.dev:8000{{ path('article_list')}}" role="button"></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="callout callout-danger">
                    <h4>{{ 'Warning!' |trans }}</h4>
                    <strong>{{ 'There are not inscriptions' |trans }}</strong>
                </div>
            {% endif %}
    {% endif %}

{% endblock %}

{% block tasks_menu %}{% endblock %}