{% extends 'base.html.twig'  %}

{% block content %}
    {% block sonata_profile_content %}

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Profile' |trans }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <img src="{{ app.user.gravatar(120)}}" class="user-image" alt="User Image"/>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td><strong>{{ 'Name' | trans }}:</strong></td>
                                        <td>{{ user.firstname }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>{{ 'Surname' | trans }}:</strong></td>
                                        <td>{{ user.lastname }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>{{ 'Name of User' | trans }}:</strong></td>
                                        <td>{{ user.username }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>{{ 'Email' | trans }}:</strong></td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'Organization' | trans }}:</strong></td>
                                        <td>{{ user.getOrganization }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" align="center">
                        <a href="{{ path('fos_user_profile_edit')}}" class="btn btn-default">{{ 'Edit Profile' |trans }}</a>
                        <a href="{{ path('fos_user_security_logout')}}" class="btn btn-default">{{ 'Logout' |trans }}</a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}

{% block tasks_menu %}{% endblock %}
