{% extends '::base.html.twig'  %}

{% block content %}
    {% block sonata_profile_content %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ user.firstname }} {{ user.lastname }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>

                                        <tr>
                                            <td>Nombre:</td>
                                            <td>{{ user.firstname }}</td>
                                        </tr>

                                        <tr>
                                            <td>Apellidos:</td>
                                            <td>{{ user.lastname }}</td>
                                        </tr>

                                        <tr>
                                            <td>Nombre de usuario:</td>
                                            <td>{{ user.username }}</td>
                                        </tr>

                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ user.email }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <a href="{{ path('sonata_user_profile_edit')}}" class="btn btn-primary">Cambiar Contraseña</a>
                                    <a href="{{ path('sonata_user_profile_edit')}}" class="btn btn-primary">Editar Perfil</a>
                                    <a href="{{ path('sonata_user_security_logout')}}" class="btn btn-primary">Cerrar Sesión</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
{% endblock %}
{% block tasks_menu %}{% endblock %}
